<!DOCTYPE html>
<html class="no-js " lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>회원가입</title>

    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script>
        function numberMaxLength(e) {
            if (e.value.length > e.maxLength) {
                e.value = e.value.slice(0, e.maxLength);
            }
        }

        //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
        function daumZipCode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    //팝업창에서 검색한 결과 중 항목을 클릭하였을 경우에
                    //실행할 코드를 이곳에 작성한다.

                    //각 주소의 노출 규칙에 따라 주소를 조합한다.
                    //내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로,
                    //이름 참고하여 분기한다.
                    var fullAddr = '';	//최종 주소 변수
                    var subAddr = ''; //조합형 주소 변수

                    //사용자가 선택한 주소의 타입에 따라서 해당 주소값을 가져온다.
                    if (data.userSelectedType == 'R') { //도로명 주소를 선택한 경우
                        fullAddr = data.roadAddress;
                    } else { //지번 주소를 선택한 경우
                        fullAddr = data.jibunAddress;
                    }

                    //사용자가 선택한 주소가 도로명 타입일 때 조합한다.
                    if (data.userSelectedType == 'R') {
                        //법정동명이 있을 경우 추가한다.
                        if (data.bname != '') {
                            subAddr += data.bname;
                        }
                        //건물명이 있을 경우에 추가한다.
                        if (data.buildingName != '') {
                            subAddr += (subAddr != '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        //조합형 주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                        fullAddr += (subAddr != '' ? '(' + subAddr + ')' : '');
                    }
                    //우편번호와 주소정보를 행당 필드에 나타낸다.
                    //5자리의 새 우편번호
                    document.getElementById('zipcode').value = data.zonecode;
                    document.getElementById('address01').value = fullAddr;
                    //커서를 상세주소 입력필드로 이동시킨다.
                    document.getElementById('address02').focus();
                }
            }).open();
        }
    </script>

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">

                    <div class="p-5">

                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
                        </div>

                        <form class="user" method="post" action="/register">

                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" name="id"
                                       placeholder="ID를 입력하세요" required>
                            </div>

                            <div class="form-group">
                                <input type="Password" class="form-control form-control-user" name="password"
                                       placeholder="비밀번호를 입력하세요" required>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" name="name"
                                       placeholder="이름을 입력하세요" required>
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" name="email"
                                       placeholder="이메일을 입력하세요" required>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" name="zipcode" id="zipcode" placeholder="우편번호"
                                           readonly/>
                                </div>
                                <div class="col-sm-6">
                                    <input type="button" class="btn btn-success btn-user btn-block" onclick="daumZipCode()" value="우편번호검색"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" name="address01" id="address01"
                                       placeholder="주소" readonly required/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" name="address02" id="address02"
                                       placeholder="상세주소 ex) ..동 ..호" required/>
                            </div>

                            <div class="form-group">
                                <input type="number" class="form-control form-control-user" name="tel" maxlength='11'
                                       placeholder="전화번호를 입력하세요" oninput="numberMaxLength(this);" required>
                            </div>
                            <br>
                            <button type="submit" id="submit" class="btn btn-primary btn-user btn-block">
                                회원가입
                            </button>
                            <br>
                            <button class="btn btn-danger btn-user btn-block cancel" type="button">초기화</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../js/sb-admin-2.min.js"></script>

</body>

<script>
    $(document).ready(function () {
        //취소버튼을 눌렀을 경우
        $(".cancel").on("click", function () {
            alert("입력 내용 초기화 되었습니다.");
            location.href = "/register"
        });
    })
</script>
</html>