<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/userLayout">

<th:block layout:fragment="content">

    <script>
        function moveEvent(seq) {
            window.location.href = '/surveylist/' + seq;
        }

        function moveCategory(seq) {
            window.location.href = '/product/productlist/' + seq;
        }

        function moveProduct(productno) {
            window.location.href = '/product/productdetail/' + productno;
        }

        function cartlogin() {
            window.alert("로그인 후 이용 가능한 서비스입니다.");
        }
    </script>

    <script>
        function Delete(obj) {
            window.location.href = '/product/delete/' + obj.dataset.delete;
        }

    </script>

    <style>
        .w3-sidebar a {
            font-family: "Roboto", sans-serif
        }
        .carousel-inner img {
            -webkit-filter: grayscale(45%);
            filter: grayscale(45%); /* make all photos black and white */
            width: 75%;
            margin: auto;
        }
    </style>

    <div class="container-fluid">

        <h1><p class="h3 mb-2 text-gray-800" style="display:inline;">전체 상품</p></h1>

        <div class="row">

            <div class="col-xl-3 col-lg-4" th:each="product:${list}">
                <div class="card shadow mb-3">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary" th:text="${product.productname}" th:attr="onclick=|moveProduct(${product.productno})|" style="cursor: pointer;"></h6>

                        <div class="dropdown no-arrow" th:if="${admin != null}">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                 aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">관련 메뉴:</div>

                                <a class="dropdown-item" th:data-delete="|${product.productno}/${product.productimageName}|" onclick="Delete(this)" style="cursor: pointer;">삭제</a>

                                <a class="dropdown-item"
                                   th:onclick="'location.href = \'/product/Update/' + ${product.productno} + '\''" style="cursor: pointer;">수정</a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" onclick="location.href='/login',alert('유저 로그인이 필요합니다.')" style="cursor: pointer;">장바구니 담기</a>
                            </div>
                        </div>

                    </div>

                    <!-- Card Body -->
                    <div class="card-body">
                        <div>
                            <div class="thumbnail">
                                <img th:src="@{${'../upload/' + product.productimageName}}" width="200" height="250" th:alt="${product.productimageOriName}"
                                     th:attr="onclick=|moveProduct(${product.productno})|"
                                     style="width: 100%;margin-bottom: 10px;cursor:pointer;"/>
                                <br>
                                <ul>
                                    <li th:text="|제품명 : ${product.productname}|"></li>
                                    <li th:text="|가격 : ${product.productprice}₩|"></li>
                                </ul>

                                <div style="text-align: center;">
                                    <a th:attr="onclick=|moveProduct(${product.productno})|"
                                       class="btn btn-secondary btn-icon-split" style="text-align: center;">
                                <span class="icon text-white-50" style="padding-top: 9px;">
                                    <i class="fas fa-search"></i>
                                </span>
                                        <span class="text">상품 상세보기</span>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Logout notification</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃 하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" onclick="location.href='/login/logout'">Logout</button>
            </div>
        </div>
    </div>
</div>

</th:block>

</html>